a {
	color: #4C5B5C;
	text-decoration: none;
}
a:visited {
	color: #5d6b6c;
}
a:hover {
	color: #c9cdce;
	letter-spacing: 3px;
	transition: 0.5s;
}
a:active {
	color: #f9f9f9;
}
#project-links {
	font-size: 15px;
}
ul { 
    display: block;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px;
}
